In [1]:
import pandas as pd

In [22]:
df = pd.read_excel('../base_2/base_2.xlsx')

In [23]:
df.head()

,país,continente,ano,expectativa_de_vida,população,pib_per_cápita
0,Afghanistan,Asia,1952,28.801,8425333,779.445314
1,Afghanistan,Asia,1957,30.332,9240934,820.853030
2,Afghanistan,Asia,1962,31.997,10267083,853.100710
3,Afghanistan,Asia,1967,34.020,11537966,836.197138
4,Afghanistan,Asia,1972,36.088,13079460,739.981106

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   país                 1704 non-null   object
 1   continente           1704 non-null   object
 2   ano                  1704 non-null   int64
 3   expectativa_de_vida  1704 non-null   float64
 4   população            1704 non-null   int64
 5   pib_per_cápita       1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

In [26]:
df.head()

,país,continente,ano,expectativa_de_vida,população,pib_per_cápita
0,Afghanistan,Asia,1952,28.801,8425333,779.445314
1,Afghanistan,Asia,1957,30.332,9240934,820.853030
2,Afghanistan,Asia,1962,31.997,10267083,853.100710
3,Afghanistan,Asia,1967,34.020,11537966,836.197138
4,Afghanistan,Asia,1972,36.088,13079460,739.981106

In [27]:
df.shape

(1704, 6)

In [29]:
df.ano.describe()

count    1704.00000
mean     1979.50000
std        17.26533
min      1952.00000
25%      1965.75000
50%      1979.50000
75%      1993.25000
max      2007.00000
Name: ano, dtype: float64

In [33]:
numero_paises = len(df['país'].unique())
print(f'Temos um total de {numero_paises} paises')

Temos um total de 142 paises

In [35]:
df.expectativa_de_vida.describe()

count    1704.000000
mean       59.474439
std        12.917107
min        23.599000
25%        48.198000
50%        60.712500
75%        70.845500
max        82.603000
Name: expectativa_de_vida, dtype: float64